/Alert_Ron.py
/Devansh offer letter  (1).pdf
/GUI.py
/logs
/okish test.py
/Reload_VIT.ipynb
/Screenshot 2025-01-03 130235.png
/test_centering.py
/test_downloads popup.py
/test_interrupt download.py
/test_loading window.py
/test_multiple tabs.py
/Vulma.pdf
/xception_final_code.py
/__pycache__
/.env
